/*---------- google fonts ----------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* ----- variables -------- */
:root{
    --primary-color:#ff8906;
    --secondary-color:#000;
}

/*-------------- reset ------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* ----- common --------- */
.common_btn{
    background-color: var(--primary-color);
}

/* ------ navbar ------- */
.navbar_area{
    background-color: var(--primary-color);
}
.navbar_items li{
    transition: all .6s;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    -ms-transition: all .6s;
    -o-transition: all .6s;
}

.navbar_items li:hover{
    background-color: var(--secondary-color);
}

.carousel-item {
    height: 700px;
    object-fit: cover;
    position: relative;
}
.carousel-item img{
    height: 100%;
    object-fit: cover;
}
.carosel_title{
    font-size: 4.063rem;
}
.carousel-item::before{
  content: "";
  position:absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #00000079;
}
/* ============ responsive ============= */
@media screen and (min-width:993px) and (max-width:1200px) {
     .carousel-item {
         height: 600px;
    }  

}


@media screen and (min-width:577px) and (max-width:992px) {
    .carosel_title{
        font-size: 2.5rem;
    }
    .carousel-item {
        height: 500px;
    } 

}

@media screen and (min-width:320px) and (max-width:576px) {
    .carosel_title{
        font-size: 1.25rem;
    }
    .carousel-item {
        height: 400px;
    } 

}

