/*---------- google fonts ----------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* ----- variables -------- */
:root{
    --primary-color:#ff8906;
    --secondary-color:#4A4A4A;
}

/*-------------- reset ------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* ----- common --------- */

.our_popular_courses_container,.ready_to_join_container,.asked_question_container,.brand_container,.footer_container,.student_container{
    margin-top: 120px;
}

.title{
    font-size: 3rem;
    font-weight: 600;
}

.asked_question_title_box,.course_title_box,.asked_question_area{
    width: 60%;
    margin: 0 auto;
}
.student_title_box{
    width: 60%;
}

/* ------ navbar ------- */

.carousel-item {
    height: 700px;
    object-fit: cover;
    position: relative;
}
.carousel-item img{
    height: 100%;
    object-fit: cover;
}
.carosel_title{
    font-size: 4.063rem;
}
.carousel-item::before{
  content: "";
  position:absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #00000079;
}

/* ------- courses ------------ */

.card-title{
    font-size: 1.6rem;
    cursor: pointer;
}
.course_box img{
    object-fit: cover;
}

/* ------------ footer--------- */
.footer_icon_box span a{
    height: 50px;
    width: 50px;
    line-height: 50px;
    background-color: #4A4A4A;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}
.footer_icon_box span a:hover{
    background-color: #0DCAF0;
}

/* ============ responsive ============= */
@media screen and (min-width:993px) and (max-width:1200px) {
     .carousel-item {
         height: 600px;
    }  
    .asked_question_area{
        width: 100%;
    }

}


@media screen and (min-width:577px) and (max-width:992px) {
    .asked_question_title_box,.course_title_box,.asked_question_area{
        width: 100%;
    }
    .carosel_title{
        font-size: 2.5rem;
    }
    .carousel-item {
        height: 500px;
    } 
    .title{
        font-size: 2rem;
    }
    .student_title_box{
        width: 100%;
    }
    

}

@media screen and (min-width:320px) and (max-width:576px) {
    .asked_question_title_box,.course_title_box,.asked_question_area{
        width: 100%;
    }
    .carosel_title{
        font-size: 1.25rem;
    }
    .carousel-item {
        height: 400px;
    } 
    .title{
        font-size: 1.75rem;
    }
    .student_title_box{
        width: 100%;
    }
    

}

